---

import {profileConfig} from "../config";

const nowyears = new Date().getFullYear();

---

<div class="card-base max-w-[var(--page-width)] min-h-[4.5rem] rounded-b-none mx-auto flex items-center px-6">
    <div class="transition text-50 text-sm">
        © {nowyears} {profileConfig.name}. All Rights Reserved.
        <br>
        Powered by <a class="link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/mx-space">Mix Space</a> & <a class="link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/TNXG/Kasumino">Kasumino</a>
    </div>
</div>
