<div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative mb-4">
  <div id="post-container" class:list={["card-base z-10 px-6 md:px-9 pt-6 pb-4 relative w-full ",
      {}
  ]}>
<div class="flex flex-col items-center justify-center">
  <img class="max-w-full" src="/images/kawaii_404.png" alt="404" />
  <a href="javascript:history.back()" role="button" class="btn btn-info">返回上级</a>
</div>
  </div>
</div>